#include "Resources.h"
#include "WinResrc.h"
#include "windef.h"

101 ICON "PSSM.ico"

IDD_MAIN DIALOG DISCARDABLE  0, 0, 150, 104
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parallel-Split Shadow Maps launcher"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Rendering API", -1, 4, 4, 68, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
    CONTROL "", ID_API, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 16, 80, 80
    LTEXT "Window resolution", -1, 4, 36, 68, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
    CONTROL "", ID_WINDOW, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 48, 80, 80
    CHECKBOX "Windowed mode", ID_WINDOWED, 4, 64, 80, 12, BS_AUTOCHECKBOX
    CHECKBOX "Vsync enabled", ID_VSYNC, 4, 76, 80, 12, BS_AUTOCHECKBOX
    CHECKBOX "Reference rasterizer", ID_REFR, 4, 88, 80, 12, BS_AUTOCHECKBOX
    PUSHBUTTON "&Launch",ID_START,95,8,50,14
    PUSHBUTTON "&Cancel",ID_CANCEL,95,24,50,14
END
